<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'OddJobs/css/custom.min.css'%}" type="text/css"/>

    <title>Login</title>
</head>
<body>
    {% include 'OddJobs/top_nav.html' %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-6 col-xl-4">
                <div class="card">
                    <h1 class="card-header h3">Login</h1>
                    <div class="card-body bg-light">
                        <div class="card-text">
                            <form method="post">
                                <div>{% csrf_token %}</div>
                                <div>{{ form.as_p }}</div>
                                <div class="text-end"><button class="btn btn-info" type="submit">Log In</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>