<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'OddJobs/css/custom.min.css'%}" type="text/css"/>

    <title>Admin</title>
</head>
<body>
    <!-- Top Navigation -->
    {% include 'OddJobs/top_nav.html' %}

    <div class="container my-5">
            <h1>Admin Page</h1>
            <div class="row my-4 mx-3">
            <h2 class="text-secondary">Users</h2>
                <table>
                    <tr>
                        <th>Username</th>
                        <th>User ID</th>
                        <th>Balance</th>
                        <th>Type</th>
                    </tr>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.id }}</td>
                        <td>${{ user.balance|floatformat:2 }}</td>
                        <td>{{ user.userType }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        <div class="row my-4 mx-3">
        <h2 class="text-secondary">Jobs</h2>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Job ID</th>
                    <th>Customer</th>
                    <th>Worker</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Duration</th>
                </tr>
                {% for job in jobs %}
                <tr>
                    <td>{{ job.job_title }}</td>
                    <td>{{ job.id }}</td>
                    <td>{{ job.customer.username }}</td>
                    <td>{{ job.worker.username }}</td>
                    <td>{{ job.job_description }}</td>
                    <td>{{ job.price }}</td>
                    <td>{{ job.start_time }}</td>
                    <td>{{ job.end_time }}</td>
                    <td>{{ job.duration }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</body>
</html>