<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'OddJobs/css/custom.min.css'%}" type="text/css"/>

    <title>Odd Jobs</title>
</head>
<body>
    {% include 'OddJobs/top_nav.html' %}

    <div class="container my-5">
        <div class="row">
            <div class="col-12 col-lg-8">
                <h1>Odd Jobs</h1>
                <div class="card my-3">
                    <h2 class="card-header h3">Welcome to the Odd Jobs web app!</h2>
                    <div class="card-body bg-light">
                        <div class="card-text">
                            <p>Need a job done? Looking to earn some extra cash?</p>
                            <p>To get started, <a href="{% url 'OddJobs:new_user' %}">create an account</a>.</p>
                            <p>If you already have an account, <a href="{% url 'OddJobs:login' %}">log in</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% comment %}
            {% for user in users %}
            <div class="col-lg-4 my-3 mt-lg-0">
                <div class="card">
                    <img src="{% static 'OddJobs/images/cat.jpg' %}" class="card-img-top" alt="...">
                    <h2 class="h4 card-header">{{ user.first_name }} {{ user.last_name }}</h2>
                    <div class="card-body">
                            <p>Username: {{ user.username }}<br>
                            Password: {{ user.password }}<br>
                            Email: {{ user.email }}<br>
                            Last login: {{ user.last_login }}<br>
                            Date joined: {{ user.date_joined }}</p>
                        <div class="text-end"><a href="#" class="btn btn-info">Go somewhere</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endcomment %}
        </div>
    </div>
</body>
</html>