<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
    <h2>Create User</h2>
    <form action="{% url 'OddJobs:create_user' %}" method="POST">
        {% csrf_token %}
        <label for="username">Username:</label><br/>
        <input type="text" id="username" name="username"><br/>
        <label for="password">Password:</label><br/>
        <input type="password" id="password" name="password"><br/>
        <label for="email">Email:</label><br/>
        <input type="text" id="email" name="email"><br/>
        <label for="fname">First Name:</label><br/>
        <input type="text" id="fname" name="fname"><br/>
        <label for="lname">Last Name:</label><br/>
        <input type="text" id="lname" name="lname"><br/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>