<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'OddJobs/css/custom.min.css'%}" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'OddJobs/css/job_history_style.css' %}" type="text/css">

    <!-- Fontawesome icons -->
    <script src="https://kit.fontawesome.com/405b071dc7.js" crossorigin="anonymous"></script>

    <title>Job History</title>
</head>
<body>
    
    {% include 'OddJobs/top_nav_bar.html' %}

    <div class="content-div">
        <h1>Job History</h1>
        <label for="start-date-input">Start Date:</label>
        <input type="date" id="start-date-input" class="date-input" name="start-date-input">
        <label for="end-date-input">End Date:</label>
        <input type="date"  id="end-date-input" class="date-input" name="end-date-input">
        <button type="button" id="submit-btn" class="btn btn-outline-primary" onclick="reloadJobListings()">Get Job History</button>

        <br>
        <br>
        <p>Click on a job to leave/edit a rating.</p>
        <br>
        <br>

        <table id="history-table" class="table">
            
        </table>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
    <script src="{% static 'OddJobs/jobhistory.js' %}"></script>
</body>
</html>