<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'OddJobs/css/custom.min.css'%}" type="text/css"/>

    <title>Job Posted</title>
</head>
<body>
{% include 'OddJobs/top_nav.html' %}
<div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-6 col-xl-4">
                <h1 class="card-header h3">Success</h1>
                <div class="card-body bg-success">
                    <div class="card-text">
                        <p>Congrats! Your job has been posted.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>