<!-- Top Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand text-primary fw-bold" href="{% url 'OddJobs:index' %}"><span class="iconify-inline" data-icon="emojione-monotone:top-hat"></span> Odd Jobs</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'OddJobs:job_history' %}">Job History</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
            {% if user.is_authenticated %}
            <div class="dropdown">
                <a class="btn btn-outline-info dropdown-toggle fw-bold" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-lg fa-user"></i> {{ user.first_name }}</a>
                <ul class="dropdown-menu" aria-labelledby="dropdownUserMenu">
                    <li><a class="dropdown-item" href="{% url 'OddJobs:logout' %}">Logout</a></li>
                </ul>
            </div>
            {% else %}
            <a class="btn btn-outline-info fw-bold" href="{% url 'OddJobs:login' %}"><i class="fas fa-lg fa-user"></i> Login</a>
            {% endif %}
        </div>
      </div>
    </nav>