<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'OddJobs/css/custom.min.css'%}" type="text/css"/>

    <title>Odd Jobs</title>
</head>
<body>
    <!-- Top Navigation -->
    {% include 'OddJobs/top_nav.html' %}

    <div class="container my-5">
        <div class="row" id="cardHolder">
        </div>
    </div>
    <script>
        var CSRF = '{{ csrf_token }}';
    </script>
    <script>
      var jobData = {{ jobs|safe }}
      var userID = {{ user_id|safe}}
    </script>
    <script src="{% static 'OddJobs/jobcardsaccepted.js' %}"></script>
</body>
</html>
