<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'OddJobs/css/custom.min.css'%}" type="text/css"/>

    <title>Odd Jobs</title>
</head>
<body>
    <!-- Top Navigation -->
    {% include 'OddJobs/top_nav.html' %}

    <div class="container my-5" id="container">
        <div class="row">
            <div class="col-md-3" hidden>
                <select class="form-select" id="distance" required>
                    <option value="">5 min</option>
                    <option>10 min</option>
                    <option>15 min</option>
                    <option>30 min</option>
                    <option>>30 min</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-select" id="type" required>
                    <option value="">All</option>
                    <option>Mowing</option>
                    <option>Shoveling</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-select" id="pay" required>
                    <option value="">$5+</option>
                    <option>$10+</option>
                    <option>$15+</option>
                    <option>$20+</option>
                    <option>$50+</option>
                    <option>$80+</option>
                </select>
            </div>
        </div>
        <div class="row" id="cardHolder">
        </div>
    </div>
    <script>
        var CSRF = '{{ csrf_token }}';
    </script>
    <script>
        var jobData = {{ jobs|safe }}
    </script>
    <script>
        function initMap() {
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANneDUKsAxcsk3s3SYFWLy-yBfJrRBYxo&callback=initMap"></script>
    <script src="{% static 'OddJobs/jobcardsavailable.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>