// custom variables
$primary: #FE6D31;
$secondary: #738FB5;
$success: #91F296;
$info: #E89050;
$warning: #F9D610;
$danger: #AE1E1E;
$light: #E0EBEE;
$dark: #363B45;

$headings-color: null $primary;

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';